{% extends "base.html" %}
{% load bootstrap5 %}
{% load static %}

{% block title %}Lista de Nerds{% endblock %}



{% block content %}
<main class="container">
    <h1 class="text-start">Lista de Nerds</h1>
    {% bootstrap_messages %}
    <div class="row">
        {% for nerd in nerds %}
        <li class="list-group-item list-group-item-dark">

            <img src="{% if nerd.foto %}{% static nerd.foto.url %}{% else %}{% static 'default_capa.jpg' %}{% endif %}"
                alt="" width="100">

            <a href="{% url 'detalhar' nerd.id %}">{{nerd.nome}}</a>
        </li>
        {% endfor %}
</main>
{% endblock %}




